.container{
    margin: 2rem;
    a{
        border-radius: 50px;
        font-size: 1rem;
    }
}

.center{
    text-align: center;
}

.main{
    background-color: var(--clr-main);
    color: white;

    &:hover{
        background-color: var(--clr-main-light);
    }
}

.white{
    background-color: white;
    color: var(--clr-main);

    &:hover{
        background-color: var(--clr-main-fade);
    }
}

.dark{

}