.container{
    a{
        display: block;
        padding: 0.8rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        margin: 1rem auto;

        span:nth-child(2){
            margin-left: 0.5rem;
        }

        &:hover{
            opacity: 0.8;
        }
    }
}

.center{
    text-align: center;
}

.main{
    background-color: var(--clr-main);
    color: white;
}

.white{
    background-color: white;
    color: var(--clr-main);
}

.dark{

}