:root{
    --clr-main: rgb(231, 165, 223);
    --clr-main-light: rgba(249, 190, 242, 0.855);
    --clr-main-fade: hsl(24, 100%, 98%);
    --clr-main-transparent: rgb(206, 160, 151, 0.5);
    --clr-background: rgba(231,228,233,255);
    --clr-background-light: rgb(228, 226, 226);
    --clr-brown-light: rgb(228, 220, 210);
    --clr-dark: #555555;
    --clr-grey: rgb(149, 149, 149); 
    --clr-light: rgba(244, 244, 244, 0.871);
    --clr-fade: rgba(212, 211, 211, 0.204);
    --clr-red: rgba(235, 64, 64, 0.8);
    --clr-blue: rgb(33, 145, 225);
}