.container{
    width: 100%;

    input{
        background-color: var(--clr-light);
        padding: 0.5rem;
        width: 100%;
        transition: 0.2s ease-in-out;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        
        &:hover{
            border-color: var(--clr-main);
        }
    }
    input[type="color"] {
        -webkit-appearance: none;
        height: 40px;
        cursor: pointer;
    };

    .borderBottom{
        border-bottom: 1px solid var(--clr-light);
        border-radius: 0;
    }
    .border{
        border: 1px solid var(--clr-light);
        border-radius: 5px;
    }

    p{
        width: 100%;
        margin-bottom: 0.2rem;
        font-weight: 200;
    }

    .double{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dark{
        background-color: var(--clr-dark-light);
        color: white;
    }

    .error{
        border: 1px solid var(--clr-red);
    }

}