.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper{
        display: flex;
        align-items: center;

        small{
            margin-right: 0.5rem;
            color: var(--clr-red);
        }
    }

    input{
        background-color: var(--clr-light-light);
        padding: 0.2rem;
        width: 100px;
        transition: 0.2s ease-in-out;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        text-align: right;
        
        &:hover{
            border-color: var(--clr-main);
        }
    }

    .borderBottom{
        border-bottom: 1px solid var(--clr-light-light);
        border-radius: 0;
    }
    .border{
        border: 1px solid var(--clr-light-light);
        border-radius: 5px;
    }

    p{
        width: 100%;
        margin-bottom: 0.2rem;
    }

    .dark{
        background-color: var(--clr-dark-light);
        color: white;
    }

}