.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url(/home_intro.webp);
  background-size: cover;
  background-position: center center;  
  min-height: 500px;
  height: 66vh;
  padding: 20% 10%;

  h1{
    font-size: clamp(2rem, 3vw, 5vw);
  }
  small, h1{
    color: white;
  }
  a{
    max-width: 300px;
    font-size: clamp(0.8rem, 1vw, 2vw);
  }
}